<!DOCTYPE html>
<html>
  <head>
    <title>TM FSS - Demo</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <div id="app">
      <h1>S3 Uploader Test - Demo Application</h1>
      <div v-if="!image">
        <h2>Select a File</h2>
        <input type="file" @change="onFileChange">
      </div>
      <div v-else>
        <img :src="image" />
        </br>
        <input type="text" v-if="!uploadURL" :value="name"/>
        </br>
        <button v-if="!isHidden" v-if="!uploadURL" @click="removeImage" style="background-color: white; color: black;">Remove File</button>
        <button v-if="!isHidden" v-if="!uploadURL" @click="uploadImage" v-on:click="isHidden = !isHidden" style="background-color: white; color: black;">Upload File</button>
        <div v-if="!uploadURL">
          <br><img id="loading" v-if="isHidden" src="css/loading.gif"><br>
        </div>
      </div>
      <h2 v-if="uploadURL">Success! File uploaded to bucket.</h2>
      <button v-if="uploadURL" @click="checkScanResult" style="background-color: white; color: black;">Check Scan Result</button>
      <span v-html="HTMLcontent"></span>
    </div>

  </body>
  <script src="js/index.js"></script>
</html>
